 @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap'); 
*{ 
    
    background-color: blanchedalmond;
    
    font-family: "Playwrite MX Guides", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-image: url("");

}
#first{
    color: bisque;
    background-color:lightcoral;
    text-align: center;
    padding: 30px;
    
}
.second{
    color: black;
    background-color: green;
}
.heading1{
    background-color: red;
    color: black;
    padding: 10px;

}
.heading2{
    background-color: greenyellow;
    color: black;
    padding: 10px;
}
.heading3{
    background-color: royalblue;
    color: black;
    padding: 10px;
}
.head0{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 0 10px;
    
}
.box{
     background-image: url("https://i.pinimg.com/736x/19/07/27/1907275bc2ffba1ef47d3e7008b7dd40.jpg"); 
    padding: 100px;
    height: 100px;
    width: 50px;
    background-color:red;
    background-size: cover;

}
.box{
     background-image: url("https://i.pinimg.com/736x/19/07/27/1907275bc2ffba1ef47d3e7008b7dd40.jpg"); 
    margin: 10px;
    height: 100px;
    width: 50px;
    background-color: aquamarine;
    background-size: cover;

}
.box{
    /* background-image: url("https://i.pinimg.com/736x/19/07/27/1907275bc2ffba1ef47d3e7008b7dd40.jpg"); */
    padding: 100px;
    height: 100px;
    width: 50px;
    background-color: brown;
    background-image: url("https://i.pinimg.com/736x/19/07/27/1907275bc2ffba1ef47d3e7008b7dd40.jpg");
    background-size: cover;
    margin-right: 10px;

}
.mainbox{
    margin: 10px;
    margin-right: 10px;
    height: 100px;
    width: 50px;
    background-color: brown;
    display: flex;
    

} 
